
table {  
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 640px; 
    border-collapse: 
    collapse; border-spacing: 0; 
}

td, th {  
    border: 1px solid transparent; 
    height: 30px; 
    transition: all 0.3s;
}

th {  
    background: #6B7A8F;  
    font-weight: bold;
	color: white;
}

td {  
    background: #FAFAFA;
    text-align: center;
}

   
tr:nth-child(even) td { background: #e9f5f8; }   

     
tr:nth-child(odd) td { background: #daedf4; }  

tr td:hover { background: #6B7A8F; color: #FFF; }  

button {
  background-color: #6B7A8F;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}